.ssdiv{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    .sdiv1{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        color: rgb(223, 134, 17);
        gap: 30px;

        .con{
            display: flex;
            flex-direction: column;
            width: 150px;
            height: 150px;
           // background-color: aliceblue;
            border-radius: 25px;
            align-items: center;
            justify-content: center;
            box-shadow: 3px 3px 15px rgb(23, 22, 22);
            background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
          //  background-image: radial-gradient( circle 780.6px at 10% 20%,  rgba(133,255,189,1) 0%, rgba(255,251,125,1) 90.7% );
          animation: shake 2s  infinite;
                    
                   
                
          @keyframes shake {
              0%, 100% {
                  transform: rotate(-10deg);
                }
                50% {
                  transform: rotate(10deg);
                }
              
          }
        }
    }
}
@media only screen and (max-width: 768px) {
  .ssdiv{
    height: 120vh;
    
  }
}